<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"] ✅
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
   <script>
        toastr.success('@TempData["Success"]', 'Success!')
    </script>


}

@if (TempData["Remove"] != null)
{
       <div class="alert alert-danger alert-dismissible fade show" role="alert">
           @TempData["Remove"] ❌
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>

    <script>
        toastr.error('@TempData["Remove"]', 'Inconceivable!')
    </script>
}

@if (TempData["Update"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["Update"] ❌
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <script>
        toastr.warning('@TempData["Update"]', 'Warning!')
     </script>
}
